<footer class="page-footer gradientt" style="border: 0;">
    <div class="container">
        <div class="links txt-clr" style="color: #ffd700;">Visit Us On</div>
        <div class="social-icons"><a href="https://www.facebook.com/bmsethostels?mibextid=ZbWKwL" id="scl-links" style="margin-right: 15px;"><i class="icon ion-social-facebook"></i></a><a href="https://www.instagram.com/bmshostels/" id="scl-links"><i class="icon ion-social-instagram-outline"></i></a></div>
    </div>
</footer>