<main class="page projects-page">
    <section class="portfolio-block projects-cards">
        <div class="container">
            <div class="heading mt-5">
                <h2>Events</h2>
            </div>
            <div class="row">

                <% for( let index = 0; index < array.length; index++ ) { %>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="/register/<%= route %>/<%= array[index].name  %>"><img class="card-img-top scale-on-hover" src="<%= array[index].picture %>" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#"><%= array[index].name %></a></h6>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
</main>