
<main class="portfolio-block  gradientt website">
    <section class="portfolio-block block-intro">
        <div class="container mt-5">
            <div class="avatar mt-5" style="background-image: url(&quot;/img/avatars/FaroucheLogo.png&quot;);"></div>
            <div class="about-me txt-clr mt-5">
                <h2 class="h1 txt-ne">&nbsp;<strong>Farouche 2023</strong></h2>
            </div>
        </div>
        <a href="/sports" class=" btnclr mt-5 mb-3" type="button" style=" font-size: larger;font-weight: bolder; border-color: #eca20f; color: #eca20f;">Sports Events</a><br>
        <a href="/cultural" class=" btnclr" type="button" style=" font-size: larger;font-weight: bolder; border-color: #eca20f; color: #eca20f;">Cultural Events</a>
    </section>
    <section class="portfolio-block photography mt-5">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="/img/nature/fest1.JPG"></a></div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="/img/nature/fest2.jpg"></a></div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="/img/nature/fest3.jpg"></a></div>
            </div>
        </div>
    </section>
</main>