<main class="portfolio-block website gradient">
    <section class="portfolio-block block-intro">
        <div class="container mt-5">
            <div class="avatar mt-5" style="background-image: url(&quot;/img/avatars/avatar2.jpg&quot;);"></div>
            <div class="about-me txt-clr mt-5">
                <p>Hello! Everyone Welcome to&nbsp;<strong>Farouche 2K23</strong></p>
            </div>
        </div>
        <a href="/sports" class="btn btn-primary mt-5 mb-3" type="button">Sports Events</a><br>
        <a href="/cultural" class="btn btn-primary" type="button">Cultural Events</a>
    </section>
    <section class="portfolio-block photography mt-5">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="/img/nature/fest1.JPG"></a></div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="/img/nature/fest2.jpg"></a></div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="/img/nature/fest3.jpg"></a></div>
            </div>
        </div>
    </section>
</main>