<main class="page projets-page">
    <section class="portfolio-block project-no-images mt-5">
        <div class="container mt-5">
            <% for( let index = 0; index < array.length; index++ ) { %>
                <div class="heading project-card-no-image">
                    <h2><a href="/<%= route %>/<%= array[index] %>" class="admin-student-head"><%= array[index] %></a></h2>
                </div>
            <% } %>
        </div>
    </section>
</main>