@import url('https://fonts.googleapis.com/css?family=Homenaje');

.section-one {
	height: 100vh;
  }
  
  .section-two {
	overflow: auto;
	height: calc(100vh);
  }

 .p-canvas-webgl {
	 position: fixed;
	 z-index: -4;
	 top: 0;
	 left: 0;
}
 .p-summary {
	 width: 100%;
	 height: 100%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 position: absolute;
	 top: 0;
	 left: 0;
	 z-index: 2;
	 color: #fff;
	 font-family: 'Homenaje', sans-serif;
	 text-align: center;
}
.nav_head{
	color:#eca20f ;
}
.nav_head:hover{
	border: 1px solid #fff;
	color:#fff;
}
input:focus{
	border: none;
	border-bottom: 2px solid black;
}